@import url(../tw/twbuild.css);
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Playfair+Display:ital,wght@0,500;1,500&family=Poppins:wght@300;400;500;600;700&family=Satisfy&family=Ubuntu:ital,wght@0,400;0,500;1,400&display=swap');

/* global */
body{
    max-width: 100vw;
    /* overflow: hidden; */
}
.throughline{
    border-top: solid 1px lightgrey;
    border-style:solid;
    box-shadow: 1px 1px 2px;
    width: 90%;
    margin-top: 5rem;
}
/* nav */
.red-circle {
    display: inline-block;
    background-color: red;
    height: 1.5rem;
    width: 1rem;
    border-radius: 100%;

    margin-top: 0.6rem;
    margin-right: 0.1rem;
    margin-left: 2rem;
}

.font-anton{
    font-family: 'anton',sans-serif;
}


nav li{
    padding: 0.6rem;

}
nav li a:hover{
    text-decoration:underline;
    color: skyblue;
    transition: all 0.2s ease-in;
}

nav .active{
    color: blue;
}

/* banner section */
#banner >div{
    /* width: 72rem; */
    height: 30rem;
}
#banner #leftbanner{
    min-height: 30rem;
    min-width: 500px;
}
#banner #rightbanner{
    min-width: 500px;
    max-width: 800px;
}
#banner #leftbanner{
    background-image: url(../asset/images/laptops.png);
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center,center;
}

#banner #rightbanner li{
    display: block;
    padding: 0.2rem;
}
#banner #rightbanner .fa-map-location-dot:hover{
    color: blue;
    transition: all 0.2s ease-in;
}