@import url(../tw/twbuild.css);
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Playfair+Display:ital,wght@0,500;1,500&family=Poppins:wght@300;400;500;600;700&family=Satisfy&family=Ubuntu:ital,wght@0,400;0,500;1,400&display=swap');

/* global */
body {
    max-width: 100vw;
    /* overflow: hidden; */
}

.throughline {
    border-top: solid 1px lightgrey;
    border-style: solid;
    box-shadow: 1px 1px 2px;
    width: 90%;
    margin-top: 5rem;
}

.font-anton {
    font-family: 'anton', sans-serif;
}

/* nav */

nav li {
    padding: 0.6rem;

}

nav li a:hover {
    text-decoration: underline;
    color: skyblue;
    transition: all 0.2s ease-in;
}

nav .active {
    color: blue;
}

/* banner section */
#hello>div {
    overflow: hidden;
}
#hello span{
    display: inline-block;
    width: 30rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
#hello .spandiv {
    animation: 40s  linear infinite 0s show-hello;
}

@keyframes show-hello {
    0% {
        transform: translateY(0%);
    }
    30% {
        transform: translateY(0%);
    }

    35% {
        transform: translateY(-100%);
    }
    65% {
        transform: translateY(-100%);
    }

    70%{
        transform: translateY(-200%);
    }
    100%{
        transform: translateY(-200%);
    }


}
.blink{
    animation: blink-animation 1.5s steps(2, start) infinite;
}

@keyframes blink-animation {
    to{
        visibility: hidden;
    }
}
#banner>div {
    /* width: 72rem; */
    min-height: 30rem;
}

#banner #leftbanner {
    min-height: 30rem;
    min-width: 500px;
}

#banner #rightbanner {
    min-width: 500px;
    max-width: 800px;
}

#banner #leftbanner {
    background-image: url(../asset/images/laptops.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center, center;
}

#banner #rightbanner li {
    display: block;
    padding: 0.2rem;
}

#banner #rightbanner .fa-map-location-dot:hover {
    color: blue;
    transition: all 0.2s ease-in;
}
/* animation for goals & skills */

.slide-in-animation{
    animation: 1.5s linear slidein;
    
}
@keyframes slidein {
    0%{
        transform: translateX(-100%);
        opacity: 60%;
    }
}
.slide-in-reverse-animation{
    animation: 1.5s linear slidein-reverse;
}
@keyframes slidein-reverse {
    0%{
        transform: translateX(100%);
        opacity: 60%;
    }
}
/* goals */
.titleshadow{
    text-shadow: 1px 2px rebeccapurple;
}
section#goals>div>div {
    width: 60%;
    min-height: 15rem;
    min-width: 30rem;


    box-shadow: 0 4px 2px -2px rebeccapurple;
    /* background-color: aqua; */
}

/* skills section */
section#skills>div>div {
    width: 70%;
    min-height: 15rem;
    min-width: 30rem;


    box-shadow: 0 4px 2px -2px rebeccapurple;
    /* background-color: aqua; */
}

/* Footer */
footer .triangle-down {
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 100px solid red;
}

#contact-to {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    box-shadow: 10px 15px 0 0 red;
}